<html>
	<head>
		<title>OpenLan Portal</title>
		<link rel="icon" href="static/favicon.png">
	</head>
	<body>
		<h5>Forwarding Information Base</h5>
		<table>
		  <tr align="left">
		    <td> Mac </td>
		    <td> Host </td>
		    <td> Port </td>
		    <td> Uptime(s) </td>
		  </tr>
		  {% for fib in fibs %}
		  <tr>
		    <td><b>{{ fib.eth }}</b></td>
		    <td>{{ fib.host }}</td>
		    <td>{{ fib.port }}</td>
		    <td>{{ fib.up_time }}</td>
		  </tr>
		  {% endfor %}
		</table>
		<h5>Custom Provider Edge</h5>
		<table>
		  <tr align="left">
		    <td> Host </td>
		    <td> Port </td>
		    <td> Socket </td>
		    <td> Uptime(s) </td>
		    <td> Receive(byte) </td>
		    <td> Send(byte) </td>
		    <td> Dropped Packet </td>
		  </tr>
		  {% for cpe in cpes %}
		  <tr>
		    <td><b>{{ cpe.host }}</b></td>
		    <td>{{ cpe.port }}</td>
		    <td>{{ cpe.socket }}</td>
		    <td>{{ cpe.up_time }}</td>
		    <td>{{ cpe.rx_byte }}</td>
		    <td>{{ cpe.tx_byte }}</td>
		    <td>{{ cpe.tx_drop }}</td>
		  </tr>
		  {% endfor %}
		</table>
	</boby>
</html>